.listaPituca {
  list-style: none; /* Quita los puntos predeterminados */
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Segoe UI', sans-serif;
}

/* Definimos  los css para cada una de las etiquetas*/
.listaPituca li {
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.listaPituca li:last-child {
  border-bottom: none; /* Quita la línea al final */
}

.listaPituca li:hover {
  background: #e6f7ff; /* Azul claro al pasar el mouse */
}

.listaPituca strong,
.lista-pituca b {
  color: #2c3e50;
  font-weight: bold;
}
